.crisis-page{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    transform: scale(0.95);
}

.crisis-container{
    color: white;
    width: 95%;
    margin: auto;
    position: relative;
    z-index: -1;
}

.crisis-container h1{
    position: absolute;
    top: 100px;
    right: 50px;
    margin: 0;
    padding: 0;
    font-size: 5em;
    opacity: 0.05;
    transition: 0.5s;
}

.crisis-page:hover h1{
    opacity: 0.2;
    top: 0;
    letter-spacing: 15px;
    z-index: 0;
}

.crisis-container .crisis{
    font-size: 24px;
    background: #1c1f24;
    margin: 0;
    padding: 5%;
    z-index: 1;
    letter-spacing: 3px;
}

.crisis-container .options{
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
    letter-spacing: 1px;
}

.crisis-container form{
    background: #282c34;
    padding-top: 1px;
}

.crisis-container .options label{
    padding-left: 10px;
}

.crisis-page .crisis-container:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(180deg, #2ba15f,#f8d229);
    z-index: -1;
    transition: 0.5s;
    transform: skew(2deg, 2deg);
}

.crisis-page:hover .crisis-container:before{
    transform: skew(0,0);
}

.crisis-page:hover{
    transition: 0.5s;
    transform: scale(1);
}

.crisis-container button{
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    border: 1px solid #fff;
    background: transparent;
    color: white;
    margin: 20px 0 0;
    outline: none;
    font-size: 20px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
    padding: 10px 20px;
    margin-left: 50%;
    transform: translateX(-100%);
    margin-bottom: 50px;
}

.crisis-container button:hover{
    background: white;
    color: black;
}