.body p{
    width: 90%;
    height: fit-content;
    padding: 10px 0;
    margin: 0 5%;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

.body .img-container{
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: space-evenly;
}

.body .img{
    margin: 30px;
    position: relative;
}

.body .img::before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(180deg, #2ba15f,#f8d229);
    z-index: -2;
    transition: 0.5s;
}