.body{
    text-align: justify;
    text-justify: inter-word;
}

.body p{
    width: 90%;
    height: fit-content;
    padding: 10px 0;
    margin: 0 5%;
    font-size: 21px;
    letter-spacing: 1.5px;
    color: #e4e4e4;
}

.body .img-container{
    flex-direction: row;
}

.body .img{
    margin: 30px;
    position: relative;
}

.body #img1{
    float: left;
    width: 450px;
    margin-right: 20px;
}

.body #img2{
    float: right;
    width: 450px;
    margin-left: 20px;
}