.comprehension-page{
    width: 100%;
    min-height: 100%;
    background: #282c34;
    position: relative;
    text-align: center;
    align-items: center;
}

.comprehension-page .comprehension-image{
    width: 60vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    opacity: 0.1;
    
}

.comprehension-page .comprehension-image img{
    width: 100%;
    transform: scale(0.95);
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
}

.comprehension-page .comprehension{
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    transform:  scale(0.95);
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
}

.comprehension-page:hover .comprehension{
    transform: scale(1);
}

.comprehension-page:hover .comprehension-image img{
    transform: scale(1);
}

.comprehension-page .comprehension .button button{
    width: 20%;
    height: 40px;
    margin: 20px 40%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 20px;
    margin-top: 20px;
}

.comprehension-page .comprehension .button button:hover{
    background-color: #f8d229;
}

.comprehension-page .comprehension .button button a{
    text-decoration: none;
    color: black;
}