body{
  background: #282c34;
}

body::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb{
  background-color: #199854;
  border-radius: 20px;
}

#root{
  position: relative;
}

.bigger-display{
  width: 100%;
  height: 100%;
}

@media (max-width: 540px) {
  .bigger-display {
    display: none;
  }
}

@media (min-width: 541px) {
  .smaller-display {
    display: none;
    visibility: hidden;
  }
}

.smaller-display{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  letter-spacing: 3px;
}