.mcq{
    position: relative;
    padding: 20px;
    z-index: 1;
}

.mcq-container .mcq h2{
    position: absolute;
    top: -20px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 9em;
    opacity: 0.1;
    transition: 0.5s;
    z-index: 0;
}

.hover:hover h2{
    top: -60px;
    opacity: 0.4;
    z-index: -1;
}

.mcq-container .mcq h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    z-index: 9999;
}

.mcq-container .mcq .options{
    margin: 15px 0;
    padding: 0 7.5px;
    color: #fff;
    font-size: 12px;
}

.mcq-container .mcq label{
    padding-left: 6px;
}


.mcqs-container button{
    position: relative;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    border: 1px solid #fff;
    background: transparent;
    color: white;
    margin: 20px 0 0;
    outline: none;
    font-size: 15px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
    padding: 8px 15px;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.hover:hover button{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.mcqs-container button:hover{
    background: white;
    color: black;
}

.options{
    font-size: 20px;
}

/* .mcq input:disabled{
    opacity: 0;
    color: red !important;
} */
